body {
  padding: 0;
  margin: 0;
}
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: Arial;
}

.card {
  width: 350px;
  padding: 35px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}

.switch {
  margin-top: 15px;
}

.switch span {
  color: #667eea;
  cursor: pointer;
  font-weight: bold;
}
